<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>This is the About Page</title>
    </head>
    <body>
        <h1>You have found the About Page.</h1>
        <p>Some text goes here</p>
    </body>
</html>